//out:../../css/app.css,sourcemap:true

/*------------------------------
IMPORT
--------------------------------*/
@import url("import/reset.less");
@import url("import/fonts.less");
@import url("import/bootstrap-grid.min.less");
@import url("import/bootstrap-spacing.less");
@import url("import/magnific-popup.less");
@import url("import/animate.less");
@import url("import/slick.less");
@import url("import/cookies.less");

/*------------------------------
VARIABLES
--------------------------------*/
/*------------------------------
VARIABLES COULEURS GÉNÉRIQUES
--------------------------------*/
@White: #FFFFFF;
@Error: @Red;
@Validate: @Green;
@Placeholder: ;
@Input: ;
@Overlay: rgba(212,215,54,.7);
@Overlay1: rgba(62,67,66,.85);
@Overlay2: rgba(62,67,66,.95);
@Body: @White;
@Red: #CF1415;
@Green: #25CD7D;

/*------------------------------
VARIABLES COULEURS PROJETS
--------------------------------*/
@Link: #C9BEEF;
@Link_site: #9184BE;
@LightGreen: #D4D736;
@Green: #85981D;
@Turquoise: #56AFC9;
@SkyBlue: #B9DCE5;
@Blue: #2B8DD4;
@DarkBlue: #4576AD;
@Black: #2D2F3F;
@Purple: #AF447B;
@DarkGrey: #919191;
@MediumGrey: #D6D6D6;
@Grey: #EAEAEA;
@LightGrey: #F5F5F5;

.mission1() {
    background-color: @LightGreen;
}
.mission2() {
    background-color: @Turquoise;
}
.mission3() {
    background-color: @DarkBlue;
}
.mission4() {
    background-color: @Purple;
}
/*------------------------------
VARIABLES CHEMIN
--------------------------------*/
@path: "../img";
/*------------------------------
VARIABLES IMAGES
--------------------------------*/
@logo: url('@{path}/svg/lapasserelle76-logo.svg') no-repeat center center;
@logo-icon: url('@{path}/svg/lapasserelle76-logo-pastille.svg') no-repeat center center;
/*------------------------------
MIXINS
--------------------------------*/
/*------------------------------
MIXIN MISE EN PAGE
--------------------------------*/
.WidthHeader() {
	width: ~"calc(100% - @{WidthNavD})";
}
.lineHeight(@size) {
	line-height: ~"@{size}px";
	@remSize: @size/@BaseSize;
	line-height: ~"@{remSize}rem";
}
.Height(@size) {
	height: ~"@{size}px";
	@remSize: @size/@BaseSize;
	height: ~"@{remSize}rem";
}
.MaxHeight(@size) {
	max-height: ~"@{size}px";
	@remSize: @size/@BaseSize;
	max-height: ~"@{remSize}rem";
}
.Bottom(@size) {
	bottom: ~"@{size}px";
	@remSize: @size/@BaseSize;
	bottom: ~"@{remSize}rem";
}
.Top(@size) {
	top: ~"@{size}px";
	@remSize: @size/@BaseSize;
	top: ~"@{remSize}rem";
}
.Right(@size) {
	right: ~"@{size}px";
	@remSize: @size/@BaseSize;
	right: ~"@{remSize}rem";
}
.Left(@size) {
	left: ~"@{size}px";
	@remSize: @size/@BaseSize;
	left: ~"@{remSize}rem";
}
.Margin(@t, @r, @b, @l){
	margin: ~"@{t}px @{r}px @{b}px @{l}px";
	@remt: @t/@BaseSize;
	@remr: @r/@BaseSize;
	@remb: @b/@BaseSize;
	@reml: @l/@BaseSize;
	margin: ~"@{remt}rem @{remr}rem @{remb}rem @{reml}rem";
}
.Margin(@tb, @lr){
	margin: ~"@{tb}px @{lr}px";
	@remtb: @tb/@BaseSize;
	@remlr: @lr/@BaseSize;
	margin: ~"@{remtb}rem @{remlr}rem";
}
.Margin(@size) {
	margin: ~"@{size}px";
	@remSize: @size/@BaseSize;
	margin: ~"@{remSize}rem";
}
.MarginTop(@size) {
	margin-top: ~"@{size}px";
	@remSize: @size/@BaseSize;
	margin-top: ~"@{remSize}rem";
}
.MarginBottom(@size) {
	margin-bottom: ~"@{size}px";
	@remSize: @size/@BaseSize;
	margin-bottom: ~"@{remSize}rem";
}
.MarginLeft(@size) {
	margin-left: ~"@{size}px";
	@remSize: @size/@BaseSize;
	margin-left: ~"@{remSize}rem";
}
.MarginRight(@size) {
	margin-right: ~"@{size}px";
	@remSize: @size/@BaseSize;
	margin-right: ~"@{remSize}rem";
}
.Padding(@t, @r, @b, @l){
	padding: ~"@{t}px @{r}px @{b}px @{l}px";
	@remt: @t/@BaseSize;
	@remr: @r/@BaseSize;
	@remb: @b/@BaseSize;
	@reml: @l/@BaseSize;
	padding: ~"@{remt}rem @{remr}rem @{remb}rem @{reml}rem";
}
.Padding(@tb, @lr){
	padding: ~"@{tb}px @{lr}px";
	@remtb: @tb/@BaseSize;
	@remlr: @lr/@BaseSize;
	padding: ~"@{remtb}rem @{remlr}rem";
}
.Padding(@size) {
	padding: ~"@{size}px";
	@remSize: @size/@BaseSize;
	padding: ~"@{remSize}rem";
}
.PaddingBottom(@size) {
	padding-bottom: ~"@{size}px";
	@remSize: @size/@BaseSize;
	padding-bottom: ~"@{remSize}rem";
}
.PaddingLeft(@size) {
	padding-left: ~"@{size}px";
	@remSize: @size/@BaseSize;
	padding-left: ~"@{remSize}rem";
}
.PaddingRight(@size) {
	padding-right: ~"@{size}px";
	@remSize: @size/@BaseSize;
	padding-right: ~"@{remSize}rem";
}
.PaddingTop(@size) {
	padding-top: ~"@{size}px";
	@remSize: @size/@BaseSize;
	padding-top: ~"@{remSize}rem";
}
.Width(@size) {
	width: ~"@{size}px";
	@remSize: @size/@BaseSize;
	width: ~"@{remSize}rem";
}
.absolute(){
	position:absolute;
}
.fixed(){
	position: fixed;
}
.relative(){
	position: relative;
}
.static(){
	position: static;
}
.BorderBottomSmart(){
	&:before{
		.Width(40);
	}
}
.BorderBottomTablette(){
	&:before{
		.Bottom(-30);
	}
}
.BorderBottom(){
	&:before{
		background-color: @Grey;
		.Bottom(-15);
		content: '';
		display: block;
		.absolute();
		.Height(8);
		.Width(55);
	}
}
.BorderBottomWhite(){
	&:before{
		background-color: @White;
		.Bottom(-15);
		content: '';
		display: block;
		.absolute();
		.Height(8);
		.Width(55);
	}
}
.BorderTop(){
	&:before{
		background-color: @Grey;;
		.Top(-15);
		content: '';
		display: block;
		.absolute();
		.Height(8);
		.Width(55);
	}
}
.Bgnews(){
	background: @news;
	.background100();
}
/*------------------------------
MIXIN FOND
--------------------------------*/
.backgroundcover(){
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.background100(){
	background-size: 100%;
}
/*------------------------------
MIXIN ANIMATION
--------------------------------*/
.transition(@prop:all, @duration:0.3s, @ease:ease-in-out) {
	-webkit-transition: @prop @duration @ease;
	-moz-transition: @prop @duration @ease;
	-ms-transition: @prop @duration @ease;
	-o-transition: @prop @duration @ease;
	transition: @prop @duration @ease;
}
.transform(@x:0px, @y:0px){
	-webkit-transform: translate(@x, @y);
	-ms-transform: translate(@x, @y);
	-o-transform: translate(@x, @y);
	transform: translate(@x, @y);
}
.transformY(@y:-100px){
	-webkit-transform: translateY(@y);
	-ms-transform: translateY(@y);
	-o-transform: translateY(@y);
	transform: translateY(@y);
}
.transformX(@x:-100px){
	-webkit-transform: translateX(@x);
	-ms-transform: translateX(@x);
	-o-transform: translateX(@x);
	transform: translateX(@x);
}
.transformR(@r:45deg){
	-webkit-transform: rotate(@r);
	-ms-transform: rotate(@r);
	-o-transform: rotate(@r);
	transform: rotate(@r);
}
.transformS(@s:2){
	-webkit-transform: scale(@s);
	-ms-transform: scale(@s);
	-o-transform: scale(@s);
	transform: scale(@s);
}
.transformSx(@sx:2){
	-webkit-transform: scaleX(@sx);
	-ms-transform: scaleX(@sx);
	-o-transform: scaleX(@sx);
	transform: scaleX(@sx);
}
.transformSy(@sy:2){
	-webkit-transform: scaleY(@sy);
	-ms-transform: scaleY(@sy);
	-o-transform: scaleY(@sy);
	transform: scaleY(@sy);
}
/*------------------------------
KEYFRAME ANIMATIONS
--------------------------------*/
@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
.scale-up-hor-left(){
	-webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}
.slide-right(){
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/*------------------------------
MIXIN BOUTONS
--------------------------------*/
.btn(){
	background-color: ;
	.fontSize(20);
	line-height: 50px;
	.transition();
}
/*------------------------------
MIXIN BORDER
--------------------------------*/
.border-radius(@rad:50%){
	-webkit-border-radius: @rad;
	-moz-border-radius: @rad;
	border-radius: @rad;
}
.border-radius-top-left(@radtopl:5px){
	-webkit-border-top-left-radius: @radtopl;
	-moz-border-top-left-radius: @radtopl;
	border-top-left-radius: @radtopl;
}
.border-radius-top-right(@radtopr:5px){
	-webkit-border-top-right-radius: @radtopr;
	-moz-border-top-right-radius: @radtopr;
	border-top-right-radius: @radtopr;
}
.border-radius-bottom-left(@radbotl:5px){
	-webkit-border-bottom-left-radius: @radbotl;
	-moz-border-bottom-left-radius: @radbotl;
	border-bottom-left-radius: @radbotl;
}
.border-radius-bottom-right(@radbotr:5px){
	-webkit-border-bottom-right-radius: @radbotr;
	-moz-border-bottom-right-radius: @radbotr;
	border-bottom-right-radius: @radbotr;
}
/*------------------------------
MIXIN FORMULAIRES
--------------------------------*/
.placeHolder(){
	color: @Placeholder;
	.fontSize(14);
	text-transform: uppercase;
	&:hover{
		color: @Black;
	}
	&:focus{
		color: @Black;
	}
}
.Textearea(){
    background: @LightGrey;
	border: none;
	border-radius: 0;
	box-shadow: none;
	.Raleway();
	.Height(150);
	.transition();
	text-transform: uppercase;
}
.Input(){
	background: @LightGrey;
	border: none;
	border-radius: 0;
	box-shadow: none;
	.transition();
}
.InputHover(){
	border-bottom: 5px solid;
}
.InputDate(){
	width: 35%;
}
.InputDateHover(){
    border: none;
}
.InputSubmit(){
	background-color: @White;
	border: 5px solid @Blue;
	color: @Blue !important;
	text-align: center;
	.Raleway-B();
	.Height(50);
	.Padding(0, 10);
	.fontSize(20);
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
}
.InputSubmitHover(){
    background: @Blue;
	border: 5px solid @Blue;
	color: @White !important;
	text-align: center;
	.Raleway-B();
	.Height(50);
	.Padding(0, 10);
	.fontSize(20);
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
}
.InputFocus(){
    .InputSubmitHover()
}
/*------------------------------
GLOBAL
--------------------------------*/
* {
   -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html{
	.FontGeneric();
}
body {
    overflow-x: hidden;
    color: @Black;
    background: @Body;
    .relative();
    text-align: left;
}
/*------------------------------
CLEARFIX
--------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/*------------------------------
STRUCTURE
--------------------------------*/
body.admin-bar:not(.custom-background-image)::before{
	top: 0;
}
body:not(.custom-background-image)::before, body:not(.custom-background-image)::after{
	background: none;
}
/*
.site-main{
	.PaddingTop(140);
}
*/
/*------------------------------
ELEMENTS
--------------------------------*/
h1,
h2,
h3,
h4{
	line-height: 1;
}
h1{
	.fontSize(60);
}
h2{
	.fontSize(35);
    .MarginBottom(20);
}
h3{
	.fontSize(20);
}
h4{
	.fontSize(16);
}
p{
	.fontSize(16);
	.lineHeight(20);
	.MarginBottom(16);
}
a{
	color: @Black;
	text-decoration: underline;
	.transition();
	&:hover, &:focus, &:active{
		color: ;
		cursor: pointer;
		outline: none;
	}
}
ul{
	margin: 0;
}
li{
	list-style: none;
}
strong{
	font-weight: @Bold;
}
blockquote{
	border: none;
	.Margin(0);
	.fontSize(22);
	.lineHeight(27);
	b{
		.fontSize(28);

	}
}
.artiste-signature-presse{
	color: @Red;
	.fontSize(16);
	text-transform: uppercase;
}
.button,
button{
	background-color: @DarkBlue;
	border: none;
	.border-radius(@rad:5px);
	color: @White;
	.FontGeneric();
	.fontSize(16);
	text-transform: uppercase;
	.MarginTop(10);
	.Padding(10);
	width: auto;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	&:hover,
	&:focus,
	&:active{
		background-color: @Black;
		color: @White;
	}
	a{
		color: inherit;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active{
			color: inherit;
		}
	}
}
button.toggle-menu{
	background-color: transparent;
	&:hover,
	&:focus,
	&:active{
			background-color: transparent;
	}
}
/*---------------------------------
FORMULAIRES
-----------------------------------*/
/*
.container-newsletter{
	h4{
    	color: @White;
		.fontSize(20);
		text-transform: uppercase;
		position: relative;
		&:before{
			background: @Yellow;
			content: '';
			display: block;
			left: 0;
			.Height(10);
			.Width(140);
			position: absolute;
			.Top(-30);
		}
	}
}
*/
.form-content,
.form-opt-in,
.form-captcha{
	.MarginTop(10);
	position: relative;
}
.form-content-news{
	.form-input{
		width: 100%;
	}
	.form-submit{
    	width: 50%;
    	margin-left: 0;
    	.MarginTop(10);
	}
}
.form-mentions-legales{
	.fontSize(14);
	.lineHeight(14);
	font-style: italic;
	width: auto;
	a{
		text-decoration: underline;
		&:hover{
			color: @Black;
		}
	}
}
.form-submit{
	position:relative;
	&:before{
		display: block;
		position: absolute;
		.MarginTop(-9);
		.Right(15);
		top: 50%;
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	}
	&:hover{
		&:before{
			.transformX(@x:5px);
			color: @White;
		}
	}
}
.form-submit.submit-page{
    margin: 0;
    .MarginTop(20);
}
div.wpcf7{
	position: relative;
	.ajax-loader{
		position: absolute;
		.MarginTop(-8);
		.Right(10);
		top: 50%;
	}
}
span.wpcf7-list-item{
	margin: 0;
	position: relative;
}
/*
input[type=checkbox]{
    display: none;
}
*/
input[type=checkbox]{
    &:hover{
        color: @Black;
        span.wpcf7-list-item-label{
            color: @Black;
        }
    }
}
input[type=checkbox] + span.wpcf7-list-item-label{
    color: @Black;
	.Raleway();
	.fontSize(16);
	text-transform:none;
	en{
		.fontSize(14);
	}
	&:hover{
		cursor: pointer;
		color: @Black;
	}
/*
	&:before{
		.FontAwesome-free();
		content: "\f0c8";
		.MarginRight(5);
	}
*/
}
/*
input[type=checkbox] + span.wpcf7-list-item-label.check-off{
	&:before{
		content: "\f14a";
	}
}
*/
div.wpcf7-response-output{
	.fontSize(14);
	position: static;
	margin-top: 20px;
	text-align: center;
	padding: 0;
	line-height: 25px;
	padding: 0 10px;
}
div.wpcf7-validation-errors {
	background-color: @Error;
}
span.wpcf7-not-valid-tip{
    background-color: @Error;
}
div.wpcf7-mail-sent-ok {
    background-color: @Validate;
}
span.wpcf7-not-valid-tip,
div.wpcf7-mail-sent-ok{
    border: none;
    clear: both;
    float: left;
    width: 100%;
}
div.wpcf7-validation-errors,
span.wpcf7-not-valid-tip,
div.wpcf7-mail-sent-ok{
    color: @White;
    border: none;
    .Raleway-B();
    .fontSize(14) !important;
    text-transform: uppercase;
}
div.wpcf7 {
    .ajax-loader{
        .Right(-10px);
    }
}
.recaptcha-content,
.submit-content{
	float: left;
}
input, select, textarea{
	color: @Black !important;
    .fontSize(16);
}
textarea{
    .Textearea();
}
input[type="date"],
input[type="datetime-local"]{
    .InputDate();
    .Input();
    &:hover{
        .InputDateHover();
    }
}
input[type="time"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea{
	.Input();
	&:hover,
	&:focus{
		.InputHover();
	}
}
input[type="submit"],
input[type="submit"][disabled],
input[type="button"],
input[type="reset"],
input[type="reset"][disabled]{
	.InputSubmit();
	&:hover,
	&:focus{
		.InputSubmitHover();
	}
}
label{
	.placeHolder();
}
input::-webkit-input-placeholder {
	.placeHolder();
}
input:-moz-placeholder {
	.placeHolder();
}
input::-moz-placeholder {
	.placeHolder();
}
input:-ms-input-placeholder {
	.placeHolder();
}
*::-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder{
	.placeHolder();
}
::-webkit-input-placeholder {
	.placeHolder();
}
:-moz-placeholder {
	.placeHolder();
}
::-moz-placeholder {
	.placeHolder();
}
:-ms-input-placeholder {
	.placeHolder();
}
/*------------------------------
IMAGES
--------------------------------*/
figure{
	.relative();
	figcaption,
	legend{
		.absolute();
		bottom: 5%;
		.fontSize(14);
		text-align: center;
		width: 100%;
	}
/*
	img{
		min-height: 100%;
		min-width: 100%;
	}
*/
}
img{
	max-width: 100%;
	height: auto;
}

/*------------------------------
STRUCTURE
--------------------------------*/
.site{
	background: none;
	margin: 0;
}
.section-scroll{
	.MarginTop(-148);
	.PaddingTop(148);
	height: ~"calc(100vh - 30px)";
	overflow: hidden;
}
/*------------------------------
SCROLL UP
--------------------------------*/
/*.btn-up{
	background: @Red;
	bottom: 0;
	cursor: pointer;
	direction: ltr;
	.Height(45);
	opacity: 1;
	position: fixed;
	right: 0px;
	.Width(45);
	z-index: 99999;
	.transformX(@x:@TransformSmartphone);
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	&:hover{
		opacity: .65;
	}
	&:before{
		color: @White;
		content: '\E627';
		.fontSize(20);
		display: block;
		.lineHeight(@WHslickSmartphone);
		.Mify();
		text-align: center;
	}
	span{
		direction: ltr;
		display: block;
		text-indent: -999em;
	}
}
.btn-up.btn-up-on{
	.transformX(@x:0);
}*/
/*------------------------------
HEADER
--------------------------------*/
.header-site{
	background-color: @White;
	padding: 0;
	position: fixed;
    width: 100%;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
    z-index: 10;
    .header-container{
    }
}
.branding-site-container{
	.MarginTop(60);
}
.branding-site{
    .relative();
    height: 100%;
    .Margin(0);
    &:after{
        background: @logo-icon;
        .background100();
        content:'' ;
        display: block;
        .Height(65);
        .Right(0);
        .Width(65);
    }
}
.logo-site{
    display: block;
    .relative();
    .fontSize(34);
    letter-spacing:-2px;
    text-decoration: none;
    .MarginRight(20);
    &:hover,
    &:focus{
        color: @Black;
    }
    span{
        .Raleway-B();
    }
}
/*------------------------------
NAVIGATION FOOTER
--------------------------------*/
.footer-site{
	text-align: center;
	li{
		display: inline-block;
		.Padding(10);
		text-align: center;
		a{
			display: block;
			.fontSize(13);
			text-decoration: none;
			&:hover,
			&:active,
			&:focus{
				color: @Black;
				opacity: inherit;
				text-decoration: inherit;
			}
		}
	}
}
/*------------------------------
SLIDER
--------------------------------*/
.slider{
	.item-slide{
		float: left;
		overflow: hidden;
		article{
            .author{
                font-weight: bold;
                text-transform: uppercase;
            }
            span{
	            text-transform: uppercase;
            }
			.relative();
		}
		.content-text-slider{
			text-align: center;
		}
		figure{
			&:before{
				.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			}
		}
	}
}
.slider-container{
    overflow: hidden;
	.relative();
}
.slick-dots{
	.relative();
	.Height(40);
	text-align: center;
	li{
		display: inline-block;
		.Margin(10);
		&:hover,
		&:focus,
		&:active{
			button{
				opacity: 1;
			}
		}
		button{
            background: none;
            border: 1px solid @White;
            .border-radius(@rad:100%);
			direction: ltr;
			text-indent: -999em;
			.Height(10);
			.Width(10);
			opacity: 1;
		}
	}
	li.slick-active{
		&:hover,
		&:focus,
		&:active{
			button{
				opacity: 1;
			}
		}
		button{
            background-color: @White;
			opacity: 1;
		}
	}
}
/*------------------------------
WIDGET
--------------------------------*/
.widget{
    border: none;
    margin: 0;
    padding: 0;
}
/*------------------------------
RESPONSIVE
--------------------------------*/
@import url("import/widgets.less");
@import url("import/576px.less");
@import url("import/768px.less");
@import url("import/992px.less");
@import url("import/1200px.less");
@import url("import/1400px.less");
@import url("import/iphone.less");
