@media screen and (min-width : 1200px){

	/*------------------------------
	HOME
	--------------------------------*/
    .home{
	    .section-primary{
		    .corner-round{
			    padding: 0;
	    	}
	    	p{
		    	.PaddingBottom(75);
	    	}
	    }
    }
    .section-primary{
	    .corner-round{
		    .Padding(200, 0);
	    }
	    .corner-round-mission{
	    	.Padding(50, 0);
	    }
    }
    /*------------------------------
    NAVIGATION
    --------------------------------*/
    .site-navigation{
	    .PaddingTop(20);
        ul.dropdown{
            .relative();
            width: 100%;
            z-index: 2;
            li{
                float: left;
                .Padding(20);
                .PaddingTop(0);
                .PaddingBottom(20);
                &:hover{
                    ul{
                        opacity: 1;
                        visibility: visible !important;
                    }
                }
                &:first-child{
                    .PaddingLeft(0);
                }
                &:last-child{
                    .PaddingRight(0);
                }
            }
            li.nav-dir{
                .relative();
                &:after{
                    content: '\e64b';
                    color: @Black;
                    .Mify();
                    .absolute();
                    .Bottom(5);
                    left:50%;
                    .MarginLeft(-16);
                    text-align: center;
                }
            }
            ul{
                background-color: @Black;
                .absolute();
                .Height(50);
                left: 0;
                opacity: 0;
                top: ~"calc(100% + 12px)";
                visibility: hidden;
                width: 100%;
                z-index: 3;
                .transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
                li{
                    text-align: center;
                    padding: 0;
                    .static();
                    a{
	                    display: block;
	                    .Raleway-B();
	                    .lineHeight(50);
	                    .PaddingLeft(15);
	                    .PaddingRight(15);
	                    .relative();
	                    text-transform: uppercase;
	                    &:hover,
	                    &:focus{
	                        color: @White;
	                        &:after{
	                            content:'\e648';
	                            .Mify();
	                            color: @White;
	                            .Bottom(0);
	                            left: 50%;
	                            .MarginLeft(-8);
	                            .absolute();
	                    	}
	                	}
            		}
	            }
        		li.current_page_item{
                    a{
                    	color: @White;
                        &:after{
                            content:'\e648';
                            .Mify();
                            color: @White;
                            .Bottom(0);
                            left: 50%;
                            .MarginLeft(-8);
                            .absolute();
                    	}
                	}
        		}
            }
            li.menu-item-50{
                a{
                    .mission1();
                }
            }
            li.menu-item-48{
                a{
                    .mission2();
                }
            }
            li.menu-item-47{
                a{
                    .mission3();
                }
            }
            li.menu-item-49{
                a{
                    .mission4();
                }
            }
            ul.sub-menu-second{
	            li{
		            color: @White;
		            a{
			            color: inherit;
		            }
		            &:hover{
			            color: @Black;
			            a{
				            color: inherit;
				            background-color: @White;
				            &:after{
					            color: inherit;
				            }
			            }
		            }
	            }
	            li.current_page_item{
		            color: @Black;
		            a{
			            color: @Black;
			            background-color: @White;
			            &:after{
				            color: @Black;
			            }
		            }
	            }
            }
        }
    }
    /*------------------------------
    IMAGE TOP
    --------------------------------*/
    .section-primary{
	    .corner-round-figure{
			background-position: center bottom -1px, center top;
			background-size: cover, contain;
	    }
	    .corner-round-modalites{
	        background-position: center bottom -1px, left top, center top;
	        background-size: cover, contain;
	    }
    }
}
