// main:../app.less
.site-main{
	.PaddingTop(175);
}
/*------------------------------
RECAPTCHA
--------------------------------*/
.grecaptcha-badge{
	display: none;
}
/*------------------------------
HOME
--------------------------------
--------------------------------
SECTION-PRIMARY
--------------------------------*/
.section-primary{
    figure{
        .relative();
    }
    h1{
       .fontSize(40);
       .PaddingBottom(20);
       text-transform: uppercase;
    }
    p{
        .lineHeight(24);
        .PaddingBottom(20);
        .Raleway-B();
    }
    h1,
    h4,
    p{
	    color: @White;
    }
    .title-page{
	    .relative();
        text-align: center;
	    .fontSize(45);
    }
    .direct-link{
	    .Height(55);
	    margin: 0 auto;
    }
    .link_1,
    .link_2{
        .Raleway-B();
        .Padding(20);
        border-radius: 100px;
        color: @White;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    .link_1{
       .MarginBottom(15);
        .mission1();
    }
    .link_2{
        .mission3();
    }
    .container-intro{
	    .PaddingTop(156);
    }
    .corner-round{
        .Padding(75, 0);
        .relative();
    }
    .corner-round-figure{
        background-attachment: scroll;
        background-position: center bottom -1px, left top;
        background-repeat: no-repeat, no-repeat;
        background-size: 100%, 185%;
        background-color: @Blue;
        .PaddingTop(20);
        padding-bottom: 0;
    }
    .corner-round-modalites{
        background-attachment: scroll;
        background-position: center bottom, left top, center top;
        background-repeat: no-repeat, repeat, no-repeat;
        background-size: 100%, cover, cover;
    }
    .corner-round-bibliographie{
        background-color: @SkyBlue;
    }
    .corner-round-liens{
        background-color: @Link;
    }
    .corner-round-mission{
	    .Padding(15, 0);
		.title-page{
			.static();
			text-align: center;
		}
    }
    .corner-round-mission,
    .corner-round-bibliographie,
    .corner-round-liens{
        background-image: url('@{path}/svg/top-blc.svg');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }

}
.white-popup {
    .relative();
    .Padding(40);
    background: @White;
    width: auto;
    max-width: 30%;
    margin: 20px auto;
    text-align: center;
}
/*------------------------------
SECTION-SECONDARY
--------------------------------*/
.section-secondary{
    h2{
        color: @DarkGrey;
        .fontSize(35);
        .Margin(0);
        .MarginBottom(20);
        text-transform: uppercase;
    }
    .container-resume{
	    .MarginBottom(20);
	    border-bottom: 1px solid @Grey;
	    .PaddingBottom(20);
	    h2{
		    .Margin(20, 0);
	    }
    }
    .button-return{
        a{
            margin: 0 auto;
            .MarginBottom(10);
            .Height(50);
            .fontSize(14);
            .Padding(0);
            .border-radius(@rad:100px);
            background-color: @LightGreen;
            color: @White;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            .undo{
                background-color: @Green;
                .border-radius-bottom-left(@radbotl:100px);
                .border-radius-top-left(@radtopl:100px);
                .fontSize(20);
                height: 100%;
                &:before{
                    .lineHeight(50);
                }
            }
        }
        .MarginBottom(40);
        .MarginTop(40);
        text-align: center;
    }
    .link-site,
    .link-sites{
        a{
            margin: 0 auto;
            .fontSize(14);
            .Padding(0);
            .border-radius(@rad:100px);
            background-color: @Link;
            color: @White;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            .world{
                background-color: @Link_site;
                .border-radius-bottom-left(@radbotl:100px);
                .border-radius-top-left(@radtopl:100px);
                .fontSize(24);
                height: 100%;
            }
        }
        .MarginBottom(40);
        .MarginTop(40);
        text-align: center;
    }
    .link-site{
        a{
            .MarginTop(30);
            .Height(45);
            .world{
                &:before{
                    .lineHeight(45);
                }
            }
        }
        &:nth-child(3n+2){
            &:before,
            &:after{
                .absolute();
                .Height(250);
                .MarginTop(-125);
                background-color: @Link;
                content: '';
                display: block;
                top: 50%;
                width: 1px;
                z-index: 1;
            }
            &:before{
                left: 0;
            }
            &:after{
                right: 0;
            }
        }
    }
    .link-sites{
        a{
            .MarginBottom(10);
            .Height(35);
            .world{
                &:before{
                    .lineHeight(30);
                }
            }
        }
    }
    .link-pdf{
        span{
            .PaddingLeft(0);
            .PaddingRight(10);
            text-transform: uppercase;
        }
        i{
            .fontSize(40);
            .Padding(20, 0);
        }
        &:nth-child(2n+1){
            a{
                background-color: @SkyBlue;
                color: @Black;
            }
            .download{
                background-color: @Black;
                color: @White;
            }
        }
        &:nth-child(2n){
            a{
                background-color: @Black;
                color: @White;
            }
            .download{
                background-color: @SkyBlue;
                color: @Black;
            }
        }
        .PaddingBottom(20);
        text-align: center;
    }
    .Raleway();
    .PaddingBottom(20);
    .PaddingTop(20);
}
.section-secondary-modalites{
    .contenu{
        color: @White;
        text-align: center;
    }
    h2{
        .fontSize(24);
        .lineHeight(29);
    }
    p{
        .lineHeight(19);
    }
    .PaddingBottom(70);
    .PaddingTop(30);
    background-color: @Purple;
}
.intro-home-mission{
    .Margin(40, 0);
    text-align: center;
    *{
        margin: 0 auto;
    }
    .Raleway();
    p{
        &:after{
            .PaddingLeft(5);
            content: '[...]';
        }
    }
    h2{
        .Raleway-B();
        .fontSize(30);
        .MarginBottom(20);
        text-transform: uppercase;
    }
    h3{
        .MarginBottom(20);
        text-transform: uppercase;
    }
    a{
        .MarginTop(30);
    }
    figure{
		&:after{
			.border-radius(@rad:50%);
			content:'';
			.absolute();
			height: 91.5%;
			left: 10%;
			width: 80%;
			z-index: -1;
		}
    }
}
.mission_1,
.mission_2,
.mission_3,
.mission_4{
    .link{
        .Raleway-B();
        .border-radius(@rad:100px);
        .Padding(20);
        color: @White;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    figure{
        .MarginBottom(40);
    }
}
.mission_1{
  figure{
    &:after{
      .mission1();
  }
  }
    .link{
        .mission1();
    }
}
.mission_2{
    figure{
      &:after{
        .mission2();
    }
    }
    .link{
        .mission2();
    }
}
.mission_3{
    figure{
      &:after{
          .mission3();
      }
    }
    .link{
        .mission3();
    }
}
.mission_4{
    figure{
      &:after{
        .mission4();
      }
    }
    .link{
        .mission4();
    }
}
.fond-mission-1,
.fond-mission-2,
.fond-mission-3,
.fond-mission-4{
    .title-page{
        h1{
            .fontSize(40);
            .lineHeight(47);
            text-transform: uppercase;
        }
        h4{
            .Raleway-B();
            .fontSize(20);
            .MarginBottom(30);
        }
        text-align: left;
    }
}
.fond-mission-1{
    .mission1();
}
.fond-mission-2{
    .mission2();
}
.fond-mission-3{
    .mission3();
}
.fond-mission-4{
    .mission4();
}
.section-intro{
    h2{
        .fontSize(24);
        .lineHeight(29);
    }
    p{
        .lineHeight(19);
    }
    text-align: center;
}

.title-paragraphe-1col,
.title-paragraphe-2col,
.title-paragraphe-1col-gris,
.title-paragraphe-2col-gris{
    h2{
        .fontSize(24);
        .Raleway-B();
        text-align: center;
    }
    h3{
        .fontSize(16);
    }
    ul{
       list-style-type: none;
    }
    li:before{
       content: '- ';
    }
    .lineHeight(24);
    .MarginTop(40);
}
.title-paragraphe-1col-gris,
.title-paragraphe-2col-gris{
	.tel{
		.Margin(15, 0);
	}
    .adresse,
    .tel,
    .contact{
	    a{
		    color: @White;
		    &:focus,
		    &:hover{
			    color: @White;
		    }
	    }
        i{
            .fontSize(24);
        }
        .lineHeight(18);
        .Padding(15);
        .Raleway-B();
        border-radius: 100px;
        color: @White;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
    }
    .boutons{
        .MarginTop(50);
        .relative();
        z-index: 1;
    }
    .adresse{
        .mission1();
    }
    .tel{
        .mission2();
    }
    .contact{
        .mission3();
    }
}
.fond-gris{
    h2{
        .PaddingTop(20);
    }
    .relative();
    &:after{
        .absolute();
        .Height(22);
        background-color: @White;
        bottom: 0;
        content: '';
        left: 0;
        width: 100%;
    }
    background-color: @Grey;
}
.title-paragraphe-1col,
.title-paragraphe-2col,
.title-paragraphe-1col-gris,
.title-paragraphe-2col-gris{
    .mission-1{
        h2{
            color: @LightGreen;
        }
    }
    .mission-2{
        h2{
            color: @Turquoise;
        }
    }
    .mission-3{
        h2{
            color: @DarkBlue;
        }
    }
    .mission-4{
        h2{
            color: @Purple;
        }
    }
}
/*------------------------------
SECTION-TERTIARY
--------------------------------*/
.counter{
    animation-duration: 1s;
    animation-delay: 0s;
}
.section_chiffre{
    .Padding(60);
    .Raleway();
    h2{
        .fontSize(40);
        text-align: center;
        text-transform: uppercase;
    }
    background-color: @Turquoise;
}
.bloc_chiffre{
    .MarginTop(20);
    .Raleway-B();
    border-top: 1px solid @White;
    span{
        color: @White;
        .fontSize(80);
    }
    p{
        .fontSize(20);
        .lineHeight(24);
        .PaddingTop(30);
        .MarginBottom(0);
    }
    &:first-child{
        border-top: none;
    }
    text-align: center;
}
.bloc_info{
	.lineHeight(24);
    .MarginBottom(20);
    .MarginTop(40);
    h3{
        color: @Purple;
        .fontSize(24);
        .PaddingBottom(30);
        .Raleway-B();
    }
    ul{
       list-style-type: none;
    }
    li:before{
       content: '> ';
    }

}
.bloc_equipe{
    h3{
        color: @White;
        background-color: @Purple;
        .fontSize(18);
        .Padding(10);
        .Raleway-B();
    }
    p{
        background-color: @Grey;
        .fontSize(15);
        height: ~"calc(100% - 38px)";
        .lineHeight(24);
        .Margin(0);
        .Padding(30, 20);
        .Raleway-B();
    }
}
.bloc_contact{
	a{
		text-decoration: none;
	}
    h3{
        color: @White;
        background-color: @DarkGrey;
        .fontSize(18);
        .Padding(10);
        .Raleway-B();
    }
    .tel,
    .adresse,
    .contact{
        span,
        a{
            .Padding(0, 20);
            .Raleway-B();
            color: @White;
            display: inline-block;
    		text-decoration: none;
            width: ~"calc(100% - 55px)";
            &:focus,
		    &:hover{
			    color: @White;
		    }
        }
        i{
            &:before{
                .lineHeight(55);
            }
            .Height(55);
            .fontSize(24);
            background-color: @Grey;
            float: left;
            text-align: center;
            width: 55px;
        }
        span{
	        a.tel_text{
		        .PaddingLeft(5);
		        width: auto;
	        }
        }
    }
    .tel{
        i{
            color: @Turquoise;
        }
        .mission2();
    }
    .adresse{
        i{
            background-color: @White;
            color: @LightGreen;
        }
        .mission1();
    }
    .contact{
        i{
            color: @DarkBlue;
        }
        .mission3();
    }
}
/*------------------------------
SLIDERS
--------------------------------*/
.section_temoignage{
    background-color: @LightGreen;
    .Padding(60, 0);
    .Raleway();
    .slider{
	    .item-slide{
		    .PaddingTop(87);
	    }
    }
    .slider-container{
	    text-align: center;
    }
    h2{
        .PaddingBottom(20);
        text-align: center;
        text-transform: uppercase;
    }
    figure{
        .border-radius(@rad:100%);
        .Height(200);
        overflow: hidden;
        .absolute();
        .Top(-87);
        .Width(200);
        z-index: 4;
    }
    p{
	    .Padding(120, 20, 20, 20);
	    .Margin(0, 10, 40, 10);
        .relative();
        background: @White;
        &:after{
            .absolute();
            .Height(0);
            .MarginLeft(-20);
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            width: 0;
            pointer-events: none;
            border-color: rgba(255, 247, 249, 0);
            border-top-color: @White;
            border-width: 20px;
        }
    }
}
/*------------------------------
WIDGETS
--------------------------------*/
.widgets-site{
	.absolute();
	left: 0;
	a{
		text-decoration: none;
	}
}
/*------------------------------
NAVIGATION
--------------------------------*/
.header-container{
	background-color: @White;
}
.site-navigation{
    .absolute();
    background-color: @White;
    z-index: -1;
    opacity: 0;
   	.transition(@prop:all, @duration:0.5s, @ease:ease-in-out);
    .transformY(@y:-100%);
    a{
    	text-decoration: none;
		span{
			.Raleway-B();
		}
	}
}
.site-navigation.toggled-on{
	opacity: 1;
	.PaddingTop(15);
	.transformY(@y:175px);
}

/*------------------------------
MENU
--------------------------------*/
.container-menu{
	text-align: center;
	.MarginBottom(15);
	width: 100%;
	p{

	.fontSize(14);
	.Raleway-B();
	margin: 0;
	.MarginBottom(5);
	text-transform: uppercase;

}
.toggle-menu{
	background: none;
	border: none;
	.border-radius(@rad:1px);
	.Height(10);
	padding: 0;
	margin: 0 auto;
	.Width(25);
		&:hover{
			background: none;
		}
		span{
			display: block;
			background: @DarkBlue;
			height: 1px;
			margin: 3px auto;
			width: 100%;
			direction: ltr;
			text-indent: -999em;
		}
		&:before,
		&:after,{
			background-color: @DarkBlue;
			content: "";
			display: block;
			.Height(1);
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			.Width(25);
		}
		span,
		&:before,
		&:after,{
			background-color: @Black;
		}
	}
	.toggle-menu.toggled-on{
		span{
			background-color: transparent;
		}
		&:after {
			transform: translateY(0) rotate(45deg);
		}
		&:before {
			transform: translateY(8px) rotate(-45deg);
		}
	}
}
.menu-navigation-principale-container{
	width: 100%;
	text-align: center;
	ul.dropdown{
		li{
			.Padding(0, 0, 25, 0);
			.sub-menu{
				.PaddingTop(25);
			}
		}
	}
}