// main: ../app.less
@media screen and (min-width : 768px){
	.site-main{
		.PaddingTop(135);
	}
	 /*------------------------------
    HOME
    --------------------------------*/
	.intro-home-mission{
/*
	    &:nth-child(2n){
	        .MarginLeft(90);
	    }
	    &:nth-child(2n+1){
	        .MarginRight(90);
	    }
*/
		figure{
			&:after{
				height: 100%;
			}
		}
	}
	.section_temoignage{
		.slider{
		    .item-slide{
			    .PaddingTop(87);
		    }
	    }
		figure{
	        .border-radius(@rad:100%);
	        .Height(200);
	        overflow: hidden;
	        .absolute();
	        .Top(-87);
	        .Width(200);
	        z-index: 4;
		}
	}
	.container-menu{
		.MarginTop(-65);
		.toggle-menu{
			margin: 0;
		}
	}
	/*------------------------------
	NAVIGATION
	--------------------------------*/
	.site-navigation{
		left: 0;
	}
	.site-navigation.toggled-on{
		.transformY(@y:135px);
	}
	/*------------------------------
	SECTION PRIMARY
	--------------------------------*/
	.section-primary{
		.container-intro{
    		.PaddingTop(285);
		}
		.corner-round-mission,
	    .corner-round-bibliographie,
	    .corner-round-liens{
	        background-size: cover;
    	}
	}
	/*------------------------------
	BLOC CHIFFRES
	--------------------------------*/
	.bloc_chiffre{
	    border-top: none;
	    &:nth-child(3n+2){
	        border-left: 1px solid @White;
	        border-right: 1px solid @White;
	    }
    }


}
