// main: ../app.less
@media screen and (min-width : 992px){
	.site-main{
		.PaddingTop(80);
	}
    .branding-site-container{
		.MarginTop(0);
	}
    /*------------------------------
    NAVIGATION
    --------------------------------*/
    .site-navigation{
	    .PaddingTop(20);
	    .static();
	    opacity: 1;
	    .transformY(@y:0);
	    z-index: 1;
	    .menu-navigation-principale-container{
		    width: auto;
		    text-align: start;
		    ul.dropdown{
			    li{
				    .sub-menu{
					    .PaddingTop(0);
				    }
			    }
		    }
	    }
        ul.dropdown{
            .relative();
            width: 100%;
            z-index: 2;
            li{
                float: left;
                .Padding(10);
                .PaddingTop(0);
                .PaddingBottom(20);
                &:hover{
                    ul{
                        opacity: 1;
                        visibility: visible !important;
                    }
                }
                &:first-child{
                    .PaddingLeft(0);
                }
                &:last-child{
                    .PaddingRight(0);
                }
            }
            li.nav-dir{
                .relative();
                &:after{
                    content: '\e64b';
                    color: @Black;
                    .Mify();
                    .absolute();
                    .Bottom(5);
                    left:50%;
                    .MarginLeft(-16);
                    text-align: center;
                }
            }
            ul{
                background-color: @Black;
                .absolute();
                .Height(50);
                left: 0;
                opacity: 0;
                top: ~"calc(100% + 12px)";
                visibility: hidden;
                width: 100%;
                z-index: 3;
                .transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
                li{
                    text-align: center;
                    padding: 0;
                    .static();
                    a{
	                    display: block;
	                    .Raleway-B();
	                    .lineHeight(50);
	                    .PaddingLeft(15);
	                    .PaddingRight(15);
	                    .relative();
	                    text-transform: uppercase;
	                    &:hover,
	                    &:focus{
	                        color: @White;
	                        &:after{
	                            content:'\e648';
	                            .Mify();
	                            color: @White;
	                            .Bottom(0);
	                            left: 50%;
	                            .MarginLeft(-8);
	                            .absolute();
	                    	}
	                	}
            		}
	            }
        		li.current_page_item{
                    a{
                    	color: @White;
                        &:after{
                            content:'\e648';
                            .Mify();
                            color: @White;
                            .Bottom(0);
                            left: 50%;
                            .MarginLeft(-8);
                            .absolute();
                    	}
                	}
        		}
            }
            li.menu-item-50{
                a{
                    .mission1();
                }
            }
            li.menu-item-48{
                a{
                    .mission2();
                }
            }
            li.menu-item-47{
                a{
                    .mission3();
                }
            }
            li.menu-item-49{
                a{
                    .mission4();
                }
            }
            ul.sub-menu-second{
	            li{
		            color: @White;
		            a{
			            color: inherit;
		            }
		            &:hover{
			            color: @Black;
			            a{
				            color: inherit;
				            background-color: @White;
				            &:after{
					            color: inherit;
				            }
			            }
		            }
	            }
	            li.current_page_item{
		            color: @Black;
		            a{
			            color: @Black;
			            background-color: @White;
			            &:after{
				            color: @Black;
			            }
		            }
	            }
            }
        }
    }
    /*------------------------------
	WIDGETS
	--------------------------------*/
	.widgets-site{
		.static();
	}
    /*------------------------------
    MAIN
    --------------------------------*/
    main{
	    .PaddingTop(80);
    }
    .single-bibliographie{
        main{
            height: 100vh;
        }
    }
    /*------------------------------
    HOME
    --------------------------------*/
    .section-primary{
	    .title-page{
		    .fontSize(55);
	    }
	    .container-intro{
	    	.PaddingTop(155);
		}
	    .direct-link{
		    margin: 0;
	    }
	    .link_1{
		    .MarginRight(30);
	    }
	    .corner-round{
		    .Padding(120, 0);
	    }
	    .corner-round-figure{
            background-attachment: scroll, fixed;
	    }
	    .corner-round-modalites{
        	background-attachment: scroll, scroll, fixed;
        }
        .corner-round-mission,
	    .corner-round-bibliographie,
	    .corner-round-liens{
		    background-size: cover;
	    }
        .title-page{
	        .fontSize(80);
        }
        .corner-round-mission{
	    	.Padding(50, 0);
	    	.title-page{
		    	text-align: left;
	    	}
	    }

    }
    .container-intro{
	    .PaddingTop(0);
    }
    .intro-home-mission{
		h2{
	        .fontSize(40);
			.Margin(80, 0, 50, 0);
		}
/*
	    &:nth-child(2n){
	        .MarginLeft(90);
	    }
	    &:nth-child(2n+1){
	        .MarginRight(90);
	    }
*/		figure{
			&:after{
				height: 91.5%;
			}
		}
	}

    /*------------------------------
    SECONDARY
    --------------------------------*/
    .section-secondary{
	    h2{
	        color: @DarkGrey;
	        .fontSize(40);
	        .MarginBottom(50);
	        .MarginTop(80);
	        text-transform: uppercase;
	    }
	    .container-resume{
		    h2{
			    .Margin(20, 0);
		    }
	    }
    }
    /*------------------------------
    CHIFFRES
    --------------------------------*/
    .bloc_chiffre{
	    .MarginTop(70);
		p{
		     .MarginBottom(16);
		}
    }
    /*------------------------------
    TÉMOIGNAGES
    --------------------------------*/
    .section_temoignage{
    	.Padding(60);
    }
    /*------------------------------
    PAGES
    --------------------------------*/
    .bloc_info{
	    .MarginBottom(80);
    }
    .tel,
    .adresse,
    .contact{
        span,
        a{
            .fontSize(20);
        }
    }
    .title-paragraphe-1col-gris,
	.title-paragraphe-2col-gris{
	    .tel{
			margin: 0;
		}
	}
	/*------------------------------
	WIDGET
	--------------------------------*/
	.search-container{
		.Top(80);
	}
	.overlay{
		.Top(140);
	}
}