//IMPORT FONT
@import url('https://fonts.googleapis.com/css?family=Raleway:300,600');
// FONTAWESOME
@import url('fontawesome/fontawesome.less');
@import url('fontawesome/regular.less');
@import url('fontawesome/solid.less');
@import url('fontawesome/brands.less');
// THEMIFY
@font-face {
	font-family: 'themify';
	src:url('font/themify.eot?-fvbane');
	src:url('font/themify.eot?#iefix-fvbane') format('embedded-opentype'),
		url('font/themify.woff?-fvbane') format('woff'),
		url('font/themify.ttf?-fvbane') format('truetype'),
		url('font/themify.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="ti-"], [class*="ti-"] {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@import url('mify.less');
//FONTS
@Light: 300;
@Bold: 600;
@FontAwesome: 'FontAwesome';
@Mify: 'themify';
@Normal: normal;
@Italic: italic;

@Raleway: 'Raleway', sans-serif;

//FONTAWESOME & MIFY
.FontAwesome(){
	font-family: @FontAwesome;
}
.Mify(){
	font-family: @Mify;
}
//FONT PROJET
.Raleway(){
    font-family: @Raleway;
    font-weight: @Light;
}
.Raleway-B(){
    font-family: @Raleway;
    font-weight: @Bold;
}
.FontGeneric(){
	.Raleway();
}

//SIZE FONT
@BaseSize: 16;
.fontSize(@size) {
	font-size: ~"@{size}px";
	@remSize: @size/@BaseSize;
	font-size: ~"@{remSize}rem";
}