// Iphone X portrait et paysage
@media only screen and (min-device-width : 375px)
and (max-device-with : 812px)
and (-webkit-device-pixel-ratio : 3){
	.corner-round-figure{
        background-position: center bottom -1px, left top 195px;
    }
}
// Iphone 6,7,8Plus portrait et paysage
@media only screen and (min-device-width : 414px)
and (max-device-with : 736px){
	.corner-round-figure{
        background-position: center bottom -1px, left top 195px;
    }
}