.site-footer{
	background-color: @Black;
	.Padding(40, 0);
	*{
		color: @LightGreen;
		.Raleway();
		text-decoration: none;
	}
	nav{
		li{
			&:nth-child(3n+2){
				.Padding(0, 20);
			}
		}
	}
	nav.copyright-navigation{
		.fontSize(12);
	}
}
.widgets-site{
	span{
		direction: ltr;
		text-indent: -999em;
	}
	.container-widget{
		.Height(40);
	}
}
.btn-widget,
.widget-phone .custom-html-widget{
	height: 100%;
	width: 100%;
	a{
		display: block;
		text-align: center;
		height: 100%;
		i{
    		display: block;
			color: @White;
			height: 100%;
            text-align: center;
            width: 100%;
			&:before{
                display: block;
                .lineHeight(40);
                width: 100%;
			}
		}
	}
}
.widget-contact{
	background-color: @DarkBlue;
}
.widget-search{
    background-color: @LightGreen;
	text-align: center;
	a{
		&:hover{
    		button{
        		i{
            		.transformX(@x:0);
        		}
    		}
		}

		button{
			background: none;
			border-radius: 0px;
			height: 100%;
			padding: 0;
			width: 100%;
		}
	}
}
.widget-search.search-on{
    button{
        .ti-search{
            &:before{
                content: '\E646';
            }
        }
    }
}
@-webkit-keyframes search{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 50%;
    }
    100{
        opacity: 100%;
    }
}
@keyframes search{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 50%;
    }
    100{
        opacity: 100%;
    }
}
@-webkit-keyframes searchOff{
    0%{
        opacity: 100;
    }
    50%{
        opacity: 50%;
    }
    100{
        opacity: 0%;
    }
}
@keyframes searchOff{
    0%{
        opacity: 100;
    }
    50%{
        opacity: 50%;
    }
    100{
        opacity: 0%;
    }
}
.search-container{
	background-color: @White;
	.Height(61);
	.Left(0);
	.absolute();
	width: 100%;
	z-index: 11;
	opacity: 0;
	.Top(40);
    display: none;
    -webkit-animation: searchOff .5s ease-in-out;
    -moz-animation: searchOff .5s ease-in-out;
    -o-animation: searchOff .5s ease-in-out;
    animation: searchOff .5s ease-in-out;
    .search-form{
	    .PaddingTop(15);
        height: 100%;
    }
    input[type='search'].search-field{
        background: @LightGrey !important;
        border-radius: 0;
        color: @Blue !important;
        .fontSize(30);
        .Height(45);
        .Raleway();
        text-transform: none;
        .MarginRight(15);
        .Padding(5, 5, 0, 5);
        width: ~"calc(100% - 60px)";
        &:hover,
        &:focus{
	        border-color: @Blue;
        }
    }
    label{
	    color: @Blue !important;
        .fontSize(20);
        text-transform: none;
    }
    input::-webkit-input-placeholder {
	    color: @Blue !important;
        .fontSize(20);
        text-transform: none;
    }
    input:-moz-placeholder {
	    color: @Blue !important;
        .fontSize(20);
        text-transform: none;
    }
    input::-moz-placeholder {
	    color: @Blue !important;
        .fontSize(20);
        text-transform: none;
    }
    input:-ms-input-placeholder {
	    color: @Blue !important;
        .fontSize(20);
        text-transform: none;
    }
    *::-webkit-input-placeholder,
    *:-moz-placeholder,
    *::-moz-placeholder,
    *:-ms-input-placeholder{
	    color: @Blue !important;
        .fontSize(20);
        text-transform: none;
    }
    button{
        background: none;
        border-radius: 0;
        color: @Blue;
        display: block;
        .Height(45);
        .lineHeight(45);
        .Raleway();
        .lineHeight(45);
        padding: 0;
        text-transform: uppercase;
        margin: 0;
        .MarginRight(-15);
		.Width(45);
        &:after{
        	content: "\e649";
            .Mify();
            float: right;
        }
    }
}
.search-field,
.submit-search{
}
.widget-tel{
	background-color: @Blue;
	color: @White;
	.Raleway-B();
	.fontSize(18);
	a{
	    color: @White;
		text-decoration: none;
		box-shadow: none;
	    &:focus,
	    &:hover{
		    color: @White;
	    }
    }
	i{
		.MarginLeft(10);
		&:before{
			.fontSize(20);
		}
	}
}
.widget-search.search-on{
    a{
        .ti-search{
            &:before{
                content: '\E646';
            }
        }
    }
}
.search-container.search-on{
    display: block;
    opacity: 1;
    -webkit-animation: search .5s ease-in-out;
    -moz-animation: search .5s ease-in-out;
    -o-animation: search .5s ease-in-out;
    animation: search .5s ease-in-out;
}
.search-results,
.search-no-results{
	.btn-widget.widget-search{
		display: block;
	}
    .widget-search{
        display: none;
    }
}
.words-resluts{
	.Raleway-B();
}
/*------------------------------
OVERLAY
--------------------------------*/
.overlay{
    background: @Overlay;
    display: none;
    height: 100vh;
	left: 0;
	opacity: 0;
    .absolute();
	.Top(80);
    width: 100%;
    -webkit-animation: searchOff .5s ease-in-out;
    -moz-animation: searchOff .5s ease-in-out;
    -o-animation: searchOff .5s ease-in-out;
    animation: searchOff .5s ease-in-out;
}
.overlay-on{
	display: block;
	opacity: 1;
	z-index: 10;
}
/*------------------------------
SITE MAP
--------------------------------*/
.site-map-container{
	li{
		a{
			.Padding(5, 0);
			display: inline-block;
			text-transform: capitalize;
		}
	}
	li.page_item_has_children{
		.children{
			.PaddingLeft(10);
		}
	}
}